In [7]:
import pandas as pd 
from pandas import Series,DataFrame 
#numpy,matplotlib,Seaborn 
import numpy as np
import matplotlib.pyplot as plt 
#import seaborn as sns 
%matplotlib inline

In [8]:
#Load the Titanic Data Set 
test_df = pd.read_csv('C:/Users\Naveed/Desktop/titanic-train.csv')

In [10]:
test_df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [12]:
#Prepare Data for Predictive modeling 
#Our end goal after "mungin" the data is to predict whether or not a passenger on the 
#Titanic survived after shipwreck.Let's go through the Titanic Data set,column by column
# and apply data munging tasks as needed our data for predictive modelling
#.Renaming Variables 
#.Data type Conversions 
#.Encoding,Decoding or recoding data 
#.Merging datasets 
#.Transforming data 
#.Missing value imputation 
#.Handling outliers 
#.Finding and Fixing typos

In [13]:
#PassengerId,Name and Ticket
#Drop unnecessary column;these column won't be useful in analysis and prediction 
titanic_df = titanic_df.drop(['PassengerId','Name','Ticket'],axes=1)

NameError: name 'titanic_df' is not defined

In [14]:
test_df  = test_df.drop(['Name','Ticket'], axis=1)